// Fonts
///////////////////////////////////////////////////////////////////////////////
@include font-face(VectoraLT-Bold, '_/fonts/VectoraLT-Bold/vectoraltstd-bold');
@include font-face(VectoraLT-Light, '_/fonts/VectoraLT-Light/vectoraltstd-light');

// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: $helvetica;
$serif: $georgia;

$base-font-family: $sans-serif;
$header-font-family: $sans-serif;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);

// Colors
///////////////////////////////////////////////////////////////////////////////

$white: #fff;
$blue: #477DCA;
$dark-gray: #333;
$medium-gray: #999;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// From https://kuler.adobe.com/DCI-color-theme-3775117/
$light-blue: #00C2DF;
$dark-blue: #426075;
$bright-green: #00df6e;
$light-gray: #BDC8CE;

// Body Color
$base-body-color: $white;

//  Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $blue;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// Patterns
$dark-gray-noise-background: url('_/images/dark-gray-noise-background.png') $dark-gray;
$dark-blue-noise-background: url('_/images/dark-blue-noise-background.png') $dark-blue;


// Sections
///////////////////////////////////////////////////////////////////////////////

// Body
$body-background: $white;

// Header
$header-background: $white;//$pixelated-noise-background;
$header-top-navigation-color: $medium-gray;
$header-top-navigation-border-color: transparent;
$header-top-navigation-hover-border-color: $light-gray;
$header-top-navigation-selected-border-color: $dark-blue;
$header-top-navigation-selected-background: lighten($light-gray, 20%);
$header-top-navigation-selected-color: $dark-gray;

// Content

// Footer
$footer-container-background: $white;//$pixelated-noise-background;
$footer-background: $white;//$dark-pixelated-noise-background;
$footer-text-color: $light-gray;
