#site-header-container {
	background: $header-background;
	color: $header-font-color;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999999;

	#site-header {
		@include outer-container();
		@include clearfix();
		position: relative;

		#header-logo {
			@include span-columns(6);
			a {
				img {
				}
			}
		}

		.top-navigation {
			@include span-columns(3);
			height: 100%;

			ul {
				@include clearfix();

				white-space: nowrap;
				font-weight: bold;
				height: 100%;

				li {
					display: inline-block;
					height: 100%;
					line-height: 100%;
					z-index: 1;
					position: relative;

					ul {
						display: none;
						position: absolute;
						top: 100%;
						left: 0;

						li {
							display: block;
							width: 100%;
						}
					}

					&:hover > ul {
						display: block;
					}
				}
			}
		}
	}
}