body
{
    background: $body-background;
}

#container
{
    position: relative;

    width: 100%;
    min-height: 100%;

    @include media($mobile) {
        padding-bottom: 0;
    }

    // Not putting the following under "body" so that I can do things like body.single & mySelector
    @import 'layout/header';
    @import 'layout/banner';
    @import 'layout/content';
    @import 'layout/pagination';
    @import 'layout/footer';
}
