@font-face {
    font-family: 'minecrafter';
    src: url('/fonts/minecrafter_3-webfont.eot');
    src: local(Minecrafter), local(Minecrafter 3), local(Minecrafter-3),
    	url('/fonts/minecrafter_3-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/minecrafter_3-webfont.woff2') format('woff2'),
        url('/fonts/minecrafter_3-webfont.woff') format('woff'),
        url('/fonts/minecrafter_3-webfont.ttf') format('truetype'),
        url('/fonts/minecrafter_3-webfont.svg#minecrafter_3regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$minecrafter-font-family: 'minecrafter';