---
cacheable: true
---
<div id="site-footer-container">
    <footer id="site-footer">
        <section id="footer-colophon">
            <h1>About CppCast</h1>
            <p>The first podcast by C++ developers for C++ developers! Hosted by <a href="/about/" title="About the host" target="_blank">Rob Irving and Jason Turner</a>.</p>

            <p>The opinions expressed in this podcast or on this site may not reflect the opinions of our employers.</p>
        </section>
        <nav id="footer-navigation">
            <div class="footer-nav subscribe">
                <h1><a href="#">Subscribe</a></h1>
                <p>We're available everywhere! Subscribe through any of these sources:</p>
                <ul>
                    <li><a href="https://itunes.apple.com/us/podcast/cppcast/id968703120" title="Subscribe to CppCast via iTunes" target="_blank">iTunes</a></li>
                    <li><a href="https://goo.gl/app/playmusic?ibi=com.google.PlayMusic&isi=691797987&ius=googleplaymusic&link=https://play.google.com/music/m/Ifdjr2ulzttywphhhlj6hqezjou?t%3DCppCast" title="Subscribe to CppCast via Google Play" target="_blank">Google Play</a></li>
                    <li><a href="/subscribe-windows-phone/" title="Subscribe to CppCast via Windows Phone" target="_blank">Windows Phone</a></li>
                    <li><a href="https://open.spotify.com/show/3NPVzS05lvJLv3ovgF3OAP" title="Subscribe to CppCast via Spotify" target="_blank">Spotify</a></li>
                    <li><a href="http://player.fm/series/cppcast" title="Subscribe to CppCast via PlayerFM" target="_blank">PlayerFM</a></li>
                    <li><a href="http://app.stitcher.com/browse/feed/61449/details" title="Subscribe to CppCast via Stitcher" target="_blank">Stitcher</a></li>
                    <li><a href="http://tunein.com/radio/cppcast-p685561" title="Subscribe to CppCast via tunein" target="_blank">tunein</a></li>
                    <li><a href="http://cppcast.libsyn.com/rss" title="Subscribe to CppCast via RSS" target="_blank">RSS</a></li>
                    <li><a href="mailto:feedback@cppcast.com?Subject=New%20Podcast%20aggregator!" title="Send you your favorite podcast aggregator!" target="_top">Tell us your favorite!</a></li>
                </ul>
            </div>
            <div class="footer-nav hosts">
                <h1><a href="#">Host</a></h1>
                <p>Want to know more about the hosts of CppCast? Follow <a href="http://twitter.com/robwirving" target="_blank">Rob</a> and <a href="http://twitter.com/lefticus" target="_blank">Jason</a> on twitter or check out their personal blogs:</p>
                <ul>
                    <li><a href="http://robwirving.com" target="_blank">robwirving.com</a></li>
                    <li><a href="http://emptycrate.com/" target="_blank">EmptyCrate</a></li>
                </ul>
            </div>
            <div class="footer-nav guests">
                <h1><a href="#">Guests</a></h1>
                <p>Building something cool in C++? Want to talk about it on the show? <a href="mailto:feedback@cppcast.com?Subject=I%20want%20to%20be%20a%20guest%20on%20cppcast!" title="Come speak to us on the podcast!" target="_top">Contact us!</a></p>
            </div>
            <div class="footer-nav sponsors">
                <h1><a href="#">Sponsors</a></h1>
                <!--<p>Check out <a href="https://www.jetbrains.com/cpp/?utm_source=cppcast&utm_medium=podcast&utm_content=cppcast-podcast&utm_campaign=cpp" title="JetBrains">JetBrains</a> maker of excellent C++ developer tools including CLion, ReSharper for C++ and AppCode!</p>-->
                <!--<p>Check out <a href="https://www.incredibuild.com/cppoffer" title="Incredibuild">Incredibuild</a>: Slash your C++ development time. Compile up to 30x faster with Incredibuild!</p>-->
                <!--<p>Check out <a href="http://www.jfrog.com" title="JFrog">JFrog</a>: the Universal Artifcat Repository, including C++ binaries thanks to the integration of Conan C/C++ package manager!</p>-->
                <!--<p>Check out <a href="http://backtrace.io/cppcast" title="Backtrace">Backtrace</a>: The turn-key debugging platform that helps you spend less time debugging and more time building!</p>-->
                <p>Check out <a href="https://undo.io" title="Undo">Undo</a>: Next generation debugging technology that helps you find and fix your bugs in minutes, not weeks!</p>
                <!--<p>We're in the beginning phases of sponsorship. If you or your company are interested, <a href="mailto:feedback@cppcast.com?Subject=Sponsorship" title="Interested in Sponsoring us? Click here!" target="_top">reach out to us!</a></p>-->
            </div>
        </nav>
    </footer>
</div>