---
cacheable: true
---
<div id="me">
    <p>
        A NEW podcast for Microsoft developers covering topics such as Azure/cloud,
        Windows, Windows Phone, .NET, Visual Studio, and more! Hosted by Jason Young
        and Carl Schweitzer.
    </p>
    <p>
    	<a href="https://itunes.apple.com/us/podcast/ms-dev-show/id862879925" class="btn btn-primary btn-lg active" role="button">Subscribe on iTunes</a>
    	<a href="http://msdevshow.libsyn.com/rss" class="btn btn-primary btn-lg active" role="button">Subscribe via RSS</a>
    	<a href="/archives/" class="btn btn-primary btn-lg active" role="button">View Previous Episodes</a>
    </p>
    <p>
        Note: There is currently and issue in Windows 8.1 podcast app that is causing our podcast to not show up in the directory. We're
        working to resolve this, but in the mean time, you can paste our <a href="http://msdevshow.libsyn.com/rss">feed URL</a> into the podcast search field.
    </p>
</div>
