---
cacheable: true
---
<div id="me">
    <p>
        A NEW podcast for Microsoft developers covering topics such as Azure/cloud,
        Windows, Windows Phone, .NET, Visual Studio, and more! Hosted by Jason Young
        and Carl Schweitzer.
    </p>
    <p>
        <h2>Subscribe:</h2>
        <a href="/subscribe-windows-phone/" class="btn btn-primary btn-lg active subscribeButton" role="button">WinPhone</a>
    	<a href="https://itunes.apple.com/us/podcast/ms-dev-show/id862879925" class="btn btn-primary btn-lg active subscribeButton" role="button">iTunes</a>
        <a href="http://app.stitcher.com/browse/feed/48675/details" class="btn btn-primary btn-lg active subscribeButton" role="button">Stitcher</a>
    	<a href="http://msdevshow.libsyn.com/rss" class="btn btn-primary btn-lg active subscribeButton" role="button">RSS</a>
    </p>
</div>
