---
cacheable: true
---
<div id="me">
    <p>
        A NEW podcast for Microsoft developers covering topics such as Azure/cloud,
        Windows, Windows Phone, .NET, Visual Studio, and more! Hosted by Jason Young
        and Carl Schweitzer.
    </p>
    <p>
    	<a href="https://itunes.apple.com/us/podcast/ms-dev-show/id862879925" class="btn btn-primary btn-lg active" role="button">Subscribe on iTunes</a>
    	<a href="http://msdevshow.libsyn.com/rss" class="btn btn-primary btn-lg active" role="button">Subscribe via RSS</a>
    	<a href="/archives/" class="btn btn-primary btn-lg active" role="button">View Previous Episodes</a>
    </p>
</div>
