---
cacheable: true
---
<div id="me">
    <p>
        A NEW podcast for Microsoft developers covering topics such as Azure/cloud,
        Windows, Windows Phone, .NET, Visual Studio, and more! Hosted by Jason Young
        and Carl Schweitzer.
    </p>
    <p>
    	Special thanks to <a href="http://www.martinezmedia.net/" title="Martinez Media, LLC" target="_blank">Martinez Media</a> for creating our theme music, our logo, stickers,
    	and for just being really awesome.
    </p>
    <p>
    	The opinions expressed in this podcast or on this site may not reflect the opinions of our employers.
    </p>
</div>
