<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors existingResponse="Replace" errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1"/>
            <error statusCode="404" prefixLanguageFilePath="" path="404.html" responseMode="File"/>
        </httpErrors>
        <defaultDocument>
            <files>
                <clear/>
                <add value="index.xml" />
                <add value="index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
