#site-banner-container {
    @include clearfix();
    padding: em(60) 0 em(180) 0;
    @include background-image(linear-gradient(to bottom, $banner-background-top-gradient-color $banner-background-top-gradient-stop, $banner-background-bottom-gradient-color $banner-background-bottom-gradient-stop), $banner-background-image);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    @include media($mobile) {
        padding: em(30) 0 em(180) 0;
    }

    .banner {
        @include outer-container();
        @include clearfix();
        text-align: center;
        color: $banner-color;
        .banner-media {
            @include span-columns(4);

            img {
                height: auto;
                width: 12em;
                margin-top: 0.5em;
                margin-bottom: 1.0em;
                border: $banner-media-avatar-border;
            }
            @include media($mobile) {
                @include span-columns(1);
            }
        }
        .banner-copy {
            @include span-columns(12);
            padding-top: 1.5em;
            text-align: center;
            text-shadow: 0px 1px 5px $dark-gray;
            h1 {
                margin-bottom: .2em;
            }
            h1, h2, h3, h4, h5, h6 {
                a {
                    color: $banner-color;
                }
            }
            .podcast-audio {
                width: 100%;
                @include media($mobile) {
                    width: 95%;
                }
            }
            .audio-download {
                @include button(simple, $alternative-button-background-color);
                float: right;
                @include media($mobile) {
                    display: none;
                }
            }
            @include media($mobile) {
                @include span-columns(1);
            }
        }

        &.guest {
            .banner-copy {
                @include span-columns(8);

                @include media($mobile) {
                    @include span-columns(1);
                }
            }
        }
    }
}