#site-banner-container {
	@include clearfix();
	padding: em(60) 0 em(180) 0;
	@include background-image(linear-gradient(to bottom, $banner-background-top-gradient-color $banner-background-top-gradient-stop, $banner-background-bottom-gradient-color $banner-background-bottom-gradient-stop), $banner-background-image);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;

	.banner {
		@include outer-container();
		@include clearfix();
		text-align: center;
		color: $banner-color;

		.banner-media {
			@include span-columns(4 of 12);

			img {
				width: auto;
				height: 12em;
				margin-top: 0.5em;
				margin-bottom: 1.0em;
				border: $banner-media-avatar-border;
			}
		}

		.banner-copy {
			@include span-columns(8 of 12);
			padding-top: 1.5em;
			text-align: center;
			text-shadow: 0px 1px 5px $dark-gray;
			
			h1 {
				margin-bottom: .2em;
			}

			.podcast-audio {
				width: 100%;
			}

			.audio-download {
				@include button(simple, $alternative-button-background-color);
				float: right;
			}
		}
	}
}