#site-content-container {
	@include outer-container();
	@include clearfix();

	margin-top: em(-150);
	margin-bottom: 3em;

	#site-content-header {
		@include span-columns(5);
		background: $container-background;
		padding: 1.5em 1.5em 0 1.5em;
		text-align: center;

		@include media($non-desktop) {
			@include span-columns(8);
		}

		@include media($mobile) {
			@include span-columns(1);
		}
	}

	#site-content {
		@include span-columns(8);
		background: $container-background;
		padding: 1em 2em;

		.show-notes {
			p {
				margin-bottom: 1.5em;
			}

			ul {
				margin: 1em 0 2em;

				li {
					list-style: disc;
					list-style-position: inside;
				}

				ul {
					margin: 0 0 0 $base-line-height ;
				}
			}
		}

		.archive {
        	&.abstract {
	            margin: em(15) 0;
	            min-height: 3em;

	            .abstract-image-placeholder {
	            	width: 3em;
	            	margin-right: 1em;
	            	float: left;

	            	img {
	            		width: 3em;
	            		height: auto;
	            	}
	            }
	        
		        .abstract-date {
		            font-variant: small-caps;
		            font-size: 1em;
		            margin-left: 10px;
		            font-weight: bold;
		        }
		        
		        .abstract-title {
		            margin-left: 10px;
		        }
	        }

	        &.abstract-year{
	            font-size: 1.2em;
	        }
	    }

		@include media($mobile) {
			@include span-columns(1);
		}
	}

	#site-sidebar {
		@include span-columns(4);

		header {
			background: $sidebar-header-background;
			color: $sidebar-header-color;
			padding: 1.2em 0.5em 0 0.5em;
		}

		nav {
			margin-top: 1em;
			background: $sidebar-background;

			h2 {
				background: $sidebar-nav-header-background;
				color: $sidebar-header-color;
				padding: 0.6em 0.5em 0 0.5em;
			}

			ul {
				margin: 0;
				padding: 0;

				li {
					padding: 0.5em;
					font-size: 1.2em;
					line-height: 1.4em;
				}
			}

			&#latest-shows-nav {
				ul {
					@include clearfix();
					li {
						@include span-columns(2 of 4);
						@include omega(2n);

						@include media($non-desktop) {
							@include span-columns(4 of 4);
							@include omega();
						}
						
						text-align: center;

						img {
							width: 100%;
							height: auto;
						}
					}
				}
				.view-all {
					background: $sidebar-nav-header-background;
					color: $sidebar-header-color;
					padding: 0.5em;
					width: 100%;
					display: block;
					text-align: center;

					&:hover {
						background: $sidebar-header-background;
					}
				}

			}
		}

		@include media($mobile) {
			display: none;
		}
	}
}