#site-header-container
{
    width: 100%;
    padding: .5em;

    color: $header-font-color;
    background: $header-background;
    #site-header
    {
        position: relative;

        @include outer-container();
        @include clearfix();
        #header-logo
        {
            @include span-columns(6);
            @include shift(3);

            @include display(flex);
            @include align-items(center);
            @include flex-direction(row);
            @include justify-content(center);

            a {
                margin: 0;
                padding: 0;

                img {
                    width: 100%;
                    height: auto;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}
