#site-header-container {
	background: $header-background;
	color: $header-font-color;
	width: 100%;
	padding: 0.5em;

	#site-header {
		@include outer-container();
		@include clearfix();
		position: relative;

		#header-logo {
			@include span-columns(6);
			a {
				img {
				}
			}
		}

		.subscribe, .search {
			@include span-columns(3);
		}

		.subscribe {
			a {
				text-align: center;
				@include button(simple, $base-background-color);
			}
		}
	}
}