.modal
{
    label
    {
        margin-bottom: 0;

        cursor: pointer;
    }
    input[type='checkbox']
    {
        display: none;
    }
    .btn
    {
        font-size: $base-font-size;

        margin-bottom: $base-line-height;

        @include button(simple, $base-background-color);
    }
    .modal-open
    {
        overflow: hidden;
    }
    .modal-window
    {
        z-index: 99999999999;

        visibility: hidden;

        text-align: left;

        opacity: 0;
        background: rgba(0, 0, 0, .85);
        // overlay

        @include transition(opacity .25s ease);
        @include position(fixed, 0px 0px 0px 0px);
        .modal-bg
        {
            cursor: pointer;

            @include position(absolute, 0px 0px 0px 0px);
        }
    }
    .modal-close
    {
        cursor: pointer;

        background: $modal-background;

        @include position(absolute, $modal-padding / 2 $modal-padding / 2 0 0);
        @include size(1.5em);
        &:after,
        &:before
        {
            display: block;

            margin: -3px 0 0 -1px;

            content: '';

            background: $modal-close-color;

            @include position(absolute, 3px 3px 0 50%);
            @include transform(rotate(45deg));
            @include size(.15em 1.5em);
        }
        &:hover:after,
        &:hover:before
        {
            background: darken($modal-close-color, 10);
        }
        &:before
        {
            @include transform(rotate(-45deg));
        }
    }
    .modal-inner
    {
        position: relative;

        overflow: auto;

        width: 95%;
        max-height: 95%;
        margin: auto;
        margin-top: .6em;
        padding: $modal-padding / 2;

        border-radius: $base-border-radius;
        background: $modal-background;

        @include transition(opacity .25s ease);
        h1
        {
            margin-bottom: .6em;

            text-align: left;
            text-transform: capitalize;

            color: $base-font-color;
        }
        p
        {
            font-size: $base-font-size;

            max-width: 100% !important;
            padding: 0;

            text-align: left;
            &.intro
            {
                line-height: 1.6em;

                color: $blue;
            }
            &.body
            {
                line-height: 1.45em;

                color: $base-font-color;

            }
        }
        a.cta
        {
            display: inline-block;

            margin-top: 1em;
            margin-right: .5em;

            color: white;
            &:last-child
            {
                padding: 0 2em;
            }
        }
    }
    .modal-state:checked + .modal-window
    {
        visibility: visible;

        opacity: 1;
    }
    .modal-state:checked + .modal-window .modal-inner
    {
        top: 0;
    }
}
