.pagination
{
    text-align: center;
    ul
    {
        display: inline;

        text-align: center;
        li
        {
            display: inline;
            
            a
            {
                @include button(simple, $base-background-color);
            }
        }
        ul li
        {
            display: inline;
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3)
            {
                display: inline;
            }
        }
    }
}
