.pagination
{
    margin-top: em(30);
    text-align: center;
    ul
    {
        display: inline;

        text-align: center;
        li
        {
            display: inline;
            
            a
            {
                @include button(simple, $base-button-background-color);
            }

            &.page-all {
                a {
                    @include button(simple, $alternative-button-background-color);
                }
            }
        }
        ul li
        {
            display: inline;
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3)
            {
                display: inline;
            }
        }
    }
}
